/*Import and Normalize*/
@import url('../bulma/css/bulma.min.css');
/*@import url('../bulma-pageloader/css/bulma-pageloader.min.css');
@import url('../bulma-pageloader/src/sass/index.sass');*/
/*@import url('https://unpkg.com/bulma@0.7.4/css/bulma.min.css');*/
/*@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');*/
/** ICONS */
@import url('../fonts/fontawesome/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body { font-family: 'Open Sans'; }

img {
	padding: 5px;
    border: 1px solid #ccc;
}

/** HERO */
.hero .container .title.is-large { font-size: 5rem; }
.hero .container .title.is-medium { font-size: 3rem; }
.hero .container .title.is-small { font-size: 2rem; }

.hero .subtitle {
  padding: 0.5rem 0;
  line-height: 1.5;
}

.navbar.is-fixed-top {
	background: #fff;
}

.logo {
	border: none;
}

.navbar-item .logo{
	max-height: 4.75rem;
}

.navbar-item.is-logo { 
  font-size: 2rem;
  max-height: 3rem;
}

.navbar-link, .navbar-item {
  background: none; 
  color: #9d9d9d;
}

/** CONTENT */
.section {
  padding: 5rem 1.5rem;
}
.section p { padding: 0.8em; }

.avatar {
  margin-left: 35%;
}

.title.is-6 .title.is-mega-menu-title{ color: #9d9d9d; }

/* LOGIN */
.box { 
  margin-top: 5rem; 
}

.box .title.is-medium { color: #333; }