/*Import and Normalize*/
@import url('../bulma/css/bulma.min.css');
/*@import url('https://unpkg.com/bulma@0.7.4/css/bulma.min.css');*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body { font-family: 'Open Sans'; }

img {
	padding: 5px;
    border: 1px solid #ccc;
}

.logo {
	border: none;
}

.navbar-item .logo{
	max-height: 4.75rem;
}